<!doctype html>
<html>
<head>
    <title>Todo app</title>
</head>
 
<body>
    <div id="header">
        <h1>Todo app</h1>
    </div>
    <input type="button" value="logout" onClick="location.href={{ '/logout/' }}"/>
    <div id="content">
        <h2>{% block subheader %}{% endblock %}</h2>
        {% block content %}
        Sample content -- you should never see this, unless an inheriting template fails to have any content block!
        {% endblock %}
    </div>
    <br><input type="button" value="home" onClick="location.href={{ '/todoapp/' }}"/>
</body>
</html>