{% extends 'todoapp/base.html' %}

{% block subheader %} Edit a list {% endblock %}

{% block content %}

<form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Edit todo list" onclick="this.disabled=true,this.form.submit();"/>
    <input type="button" value="Cancel" onclick="window.history.back()"/>
</form>

{% endblock %}