{% extends 'todoapp/base.html' %}

{% block content %}

{% block add_item %} Add item {% endblock %}

<ul>
    {% for obj in list %}
    <li> <h2><a href="{{ base_url }}{{ obj.id }}/">{{ obj.name }}</h2></a> <h4>{{ obj.get_info }}</h4>
    	<a href="{{ base_url }}{{ obj.id }}/delete/">DELETE</a>
    	<a href="{{ base_url }}{{ obj.id }}/edit/">EDIT</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}