{% extends 'todoapp/base.html' %}

{% block subheader %}Task: {{ task.name }}{% endblock %}

{% block content %}
	<h2>Description:</h2>{{ task.description }}

	<h2>Expires On:</h2>{{ task.expiration_date }}

	<h2>Status:</h2>{{ status }}

	<h2>Part of:</h2>{{ task.tasklist.name }}

	<br><br><a href="{{ base_url }}/edit/">EDIT</a>

{% endblock %}